@page "/about"
<PageTitle>About</PageTitle>
<div class="center-content">
    <h3>About Nimbus</h3>
 <p> Nimbus is a route planning and fleet management application. 
    This MAUI blazor framework application uses C# and mySQL to store a database 
   of Trucks, Addresses, and Routes with according relationships between these
   tables to keep track of the mileage on trucks and commonly replaced 
   parts. Also tracking which truck is on which route and who will be handling
   which specific deliveries. Nimbus uses Google Geocoding and the maps APIs 
   to plot deliveries on the map in the area and reordering them to more easily
   plana delivery route. It is currently a Work in progress and will
   hopefully be published on Microsoft Azure someday in the near future.</p>

    <h3>About The Developer</h3>
 <p> Hi, my name is Ricky Thomas and I'm currently a fleet manager for a 
   last mile delivery company. More importantly I am a passionate
   student of software development with a strong inclination to 
   Microsoft's software which is the main reason I've worked so vigorously
   on teaching myself C# and a dotnet environment. I aspire to become a full time
   developer but will gladly continue studying and practicing programming
   in my spare time! Thank you for checking out my first application!
   I hope you have a great rest of your day!</p>
        </div>

